// -----------------------------------------------
//
// Styling for Items Table
//
// -----------------------------------------------

.cartTable {
	display: flex;
	flex-direction: column;

	.cartItemContainer {
		display: flex;

		.cartData {
			display: flex;
		}

		.rowInfo {
			padding: 25px;

			#total {
				text-decoration: underline;
			}

			p {
				font-size: larger;
			}
		}
	}

	img {
		width: 180px;
	}
}
