// -----------------------------------------------
//
// Styling for About Page
//
// -----------------------------------------------

#aboutPageContainer {
	.aboutContentContainer {
		text-align: center;

		h1 {
			font-family: $sec;
			text-transform: uppercase;
			font-size: xx-large;
		}
	}
}
