// -----------------------------------------------
//
// Styling for About Page
//
// -----------------------------------------------

#aboutPageContainer {
	.aboutContentContainer {
		text-align: center;

		h1 {
			font-family: $sec;
			text-transform: uppercase;
			font-size: xx-large;
		}

		.line {
			background-color: $black;
			width: 100%;
			height: 2px;
			margin-bottom: 20px;
		}
	}
}
