// -----------------------------------------------
//
// Header Styling
//
// -----------------------------------------------

nav {
	span {
		a {
			font-family: $sec;
			text-transform: uppercase;
		}

		a,
		a:hover,
		a:focus {
			color: $black;
		}
	}
}

.navbar-light .navbar-nav .nav-link a {
	color: $black;
	font-family: $sec;
	text-transform: uppercase;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
	color: $black;
}
