// -----------------------------------------------
//
// Styling for the Cart Page
//
// -----------------------------------------------

@import './TotalCost/TotalCost.scss';

#cartPageContainer {
	.proceedToCheckoutContainer {
		background-color: $white;
		text-align: center;
		padding: 27px;
		border-radius: 28px;
		width: 54%;
		margin: 0 auto;
	}
}
