/* ----------------------------------------------- */
/* 
/* Footer Styling */
/* 
/* ----------------------------------------------- */

.footerContainer {
	display: flex;
	justify-content: space-evenly;
	flex-shrink: 0;
	margin-top: 60px;
	background-color: $white;

	a {
		color: $white;
	}

	h2 {
		color: $black;
	}
}
