// -----------------------------------------------
//
// Styling for Index Page
//
// -----------------------------------------------

#indexPageContainer {
	.jumbotronContainer {
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 10rem;
		padding-bottom: 10rem;
		background-size: cover;
		height: 130vh;

		h1 {
			font-size: 500%;
		}
	}

	.introTextContainer {
		padding-top: 50px;
		padding-bottom: 50px;

		#title {
			font-size: xx-large;
			font-family: $sec;
		}

		p {
			font-size: larger;
		}
	}

	#row2 {
		margin-bottom: -60px;

		.col {
			padding-right: unset;
			padding-left: unset;
		}

		.categoryContainer {
			background-repeat: no-repeat;
			background-position: center;
			padding-top: 10rem;
			padding-bottom: 10rem;
			background-size: cover;
			text-align: center;
			height: 200px;

			a {
				color: #f6ecea;
				text-decoration: none;
			}

			p {
				background-color: rgba(0, 0, 0, 0.5);
				font-size: xx-large;
				font-family: $sec;
			}
		}
	}
}
